@model BloodDonation.Models.BloodBankViewModel
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Blood Donation Center</h2>
<div class="container">
    <canvas id="myChart" style="max-width: 500px;"></canvas>

    @*<div class="row">
            <div class="col-4">@Html.DisplayFor(modelItem => Model.Statistics.TotalAmount)</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalA_Plus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalB_Plus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalAB_Plus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalZero_Plus)</div>
                </div>
                <div class="row">
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalA_Minus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalB_Minus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalAB_Minus)</div>
                    <div class="col-3">@Html.DisplayFor(modelItem => Model.Statistics.TotalZero_Minus)</div>
                </div>
            </div>
        </div>*@
    <h2> CHART HERE</h2>
</div>



<h2>Detailed list of blood donors</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.donator.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.PersonalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.BloodVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.FactorBlood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donator.TypeOfBlood)
        </th>
    </tr>

    @foreach (var item in Model.PagedDonators)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.FactorBlood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfBlood)
            </td>
        </tr>
    }

</table>
<br />

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        Page @(Model.PagedDonators.PageCount < Model.PagedDonators.PageNumber ? 0 : Model.PagedDonators.PageNumber)
        of @Model.PagedDonators.PageCount   @Html.PagedListPager(Model.PagedDonators, page => Url.Action("Index", new { page }))
    </div>
</div>